.topNewsRow {
  margin-left: 20px;
  padding-right: 20px;
}

.topNewsRow_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.topNewsRow_card {
  margin: 15px 15px 30px 15px;
  border-radius: 35px;
  padding: 10px;
  box-shadow: 5px 5px 15px grey;
  transition: all 0.4s ease-out;
  /* position: absolute; */
}

.topNewsRow_card:hover {
  transform: translate(-2%, -2%) scale(1.01);
  box-shadow: 7px 7px 10px grey;
}

.topNewsRow_newsPoster {
  height: 150px;
  width: 250px;
  border-radius: 25px 25px 5px 5px;
}

.topNewsRow_cardContent {
  padding: 10px;
  height: 170px;
  position: relative;
}

.topNewsRow_authorDetails {
}

.topNewsRow_authorDetails_source {
  font-weight: 600;
  font-size: 1.2rem;
  position: absolute;
  bottom: 10px;
}

.topNewsRow_authorDetails_author {
  font-weight: 300;
  font-size: 1.2rem;
}
